:root {
    --white-color: #ffffff;
    --ligth-color: #fafafa;
    --primary_color: #F1CDB3;
    --dark-color: #545454;
    --dark-color-1: #4C4C4C;
    --dark-color-2: #B2B2B2;
    --dark-color-3: #292929;
    --dark-color-4: #CDCDCD;
    --dark-color-5: #F6F6F6;
    --hover-color: #FDDCC4;
}